.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  height: 80px;
  border-bottom: 2px solid #49557e;
}

.navbar .logo {
  width: max(3vw, 12rem);
}

.navbar button {
  padding: 10px 30px;
}

/* .navbar button:hover {
  background-color: #fff4f2;
} */

.dropdown-container {
  position: relative; 
}

.login-dropdown {
  background-color: #fff4f2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
  position: absolute;
  top: 3rem;
  z-index: 2;
}

.login-dropdown hr{
  margin-top: 2px;
}

.login-dropdown li:hover {
  cursor: pointer;
}

@media(max-width:900px){
  .navbar {
   height: 60px;
  }
  
  .navbar .logo {
    width: max(3vw, 9rem);
    margin-left: 25px;
  }

  .navbar button {
    padding: 7px 20px;
  }
}